@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");

// @import "normalize";
@import "variables";
@import "font";
@import "util";
@import "block-override";

@import "header";
@import "footer";
@import "menu";

@import "buttons";
// @import "globals";
// @import "forms";
// @import "related";
// @import "404";
// @import "cards";

html {
  overflow-x: hidden;
  background: var(--color-background);
  font-size: var(--font-size);
}

.alignwide {
  width: 100% !important;

  @media (min-width: 768px) {
    max-width: 95vw !important;
    width: var(--container-wide) !important;
    margin-left: 50% !important;
    transform: translateX(-50%) !important;
  }
}

.is-layout-constrained {
  padding-left: var(--container-padding) !important;
  padding-right: var(--container-padding) !important;

  // if in alignfull block like group
  .alignwide {
    transform: translateX(0) !important;
  }
}

.alignfull {
  margin-left: calc(50% - 50vw) !important;
  max-width: calc(100vw) !important;
  width: calc(100vw) !important;
}

// our work
.our-work-container {
  .our-work--top {
    position: relative;

    .line-top {
      background: var(--dark-800);
      z-index: -1;
      position: absolute;
    }
    h2 {
      line-height: 8.25rem;
      text-align: center;
      text-transform: uppercase;
      padding-left: 10px;
      padding-right: 10px;
      background-color: var(--color-background);
      display: inline-flex;
    }
  }
}
